<div class="bg-primary" style="padding-top: 20px;">
<div class="container">
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="text-center panel panel-info text-primary">
	        <div class="panel-heading">
            <h3>Personal</h3>
	        </div>
	        <div class="panel-body">
		        <div>
					<span class="price" style="font-size: 3em;">$12</span>
					<p class="lead">Per Month</p>
		        </div>
            
            
			<ul class="list-group">
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			  <li class="list-group-item">Porta ac consectetur ace</li>
			</ul>
	        </div>
			<div class="panel-footer" style="font-size: 2em;">
				<a href="#">Get Started</a>
	        </div>
    	</div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="text-center panel panel-warning text-primary" style="font-size: 1.2em;">
	        <div class="panel-heading">
            <h2>Startup</h2>
	        </div>
	        <div class="panel-body">
		        <div>
					<span class="price" style="font-size: 3em;">$24</span>
					<p class="lead">Per Month</p>
		        </div>
            
            
			<ul class="list-group">
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			</ul>
	        </div>
		    <div class="panel-footer" style="font-size: 2em;">
				<a href="#">Get Started</a>
		    </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="text-center panel panel-success text-primary">
	        <div class="panel-heading">
            <h3>Professional</h3>
	        </div>
	        <div class="panel-body">
		        <div>
					<span class="price" style="font-size: 3em;">$36</span>
					<p class="lead">Per Month</p>
		        </div>
            
            
			<ul class="list-group">
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			</ul>
	        </div>
			<div class="panel-footer" style="font-size: 2em;">
				<a href="#">Get Started</a>
	        </div>
        </div>
    </div>
</div>
</div>
</div>
